.BingoCard16 {
    width: 90vw;
    height: 90vh;
    display: grid;
    place-items: center;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    margin-left: 50px;
}

.BingoCard9 {
  margin-top: 20vh;
  height: 100vh;
  display: inline-grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}

.BingoSquareIncomplete {
  animation-duration: 1.5s;
  animation-name: squareSlide;
}

@keyframes squareSlide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.BingoSquare {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    display: grid;
    place-items: center;
}

.bingo-view {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  height: 100vh;
  background-image: url(/Users/oakleywindiate/Turing_Mod_4/swolify-fe/src/sunset.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  height: 100vh;
  width: 100vw;
}
