.dashboard-wrapper  {
  display: flex;
}

.game-data-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-title {
  padding: 2em;
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
}








