.game-summary-section{
  background-color: lightgrey;
  border-radius: 8px;
  box-shadow: inset 0px 0px 11px 0px #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}
