
.activity-history {
  list-style-type: none;
}

hr {
  border: 1px solid black;
}

.scores-history,
.history-card {
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
}

.history-container{
  padding: 5em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.history-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(180deg, hsla(288, 69%, 41%, 0.4) 0%, hsla(0, 0%, 0%, .2) 100%);
  margin: .3em;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid #fff;
}

.history-card {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #1685f8,
            0 0 0.8rem #1685f8,
            0 0 2.8rem #1685f8,
            inset 0 0 1.3rem #1685f8;
}

.cards-wrapper {
  width: 80%;
}
