
.wrapper {
    font-family: 'Press Start 2P', cursive;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 400px;
}

.loading {
  position: absolute;
  margin: auto;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85px;
  height: 40px;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 0 20px #FF69B4;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: lighter;
  color: #FF69B4;
}
.loading span {
  display: none;
}
.loading::after {
  animation: txt 1s infinite;
  content: "";
}
@keyframes load {
  0% {
    left: -100px;
  }
  100% {
    left: 220px;
  }
}
@keyframes txt {
  0% {
    content: "LOADING";
  }
  35% {
    content: "LOADING.";
  }
  65% {
    content: "LOADING..";
  }
  100% {
    content: "LOADING...";
  }
}
