.icons-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-view-section {
  padding: 1em;
  margin-top: 3em;
  background: rgb(0,0,0);
  background: #000;
  display: flex;
  flex-direction: column;
}

.headers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-instructions {
  color: #FFF;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

.profile-instructions {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}