.icons-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-view-section {
  padding: 1em;
  margin-top: 3em;
  background: rgb(0,0,0);
  background: #000;
  display: flex;
  flex-direction: column;
}

.headers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-icon-background {
}