.sidebar {
    border: 2px solid black;
    position: absolute;
    height: 100vh;
    width: 20vw;
    background-color: aquamarine;
}

.activity-list {
    display: flex;
    flex-direction: column;
}