.sidebar-visable {
    position: absolute;
    height: 100vh;
    width: 20vw;
    background-color: #FFF;
    margin: 2em;
}

.icon-section-sidebar {
    display: flex;
    justify-content: space-around;
    font-size: 1.7em;
    margin: 1em;
    margin-top: 1.5em;
}

.swolify-sidebar-name {
    margin-left: .5em;
}

.activity-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1em;
    margin-top: 3em;
}

.swolify-sidebar-name,
.activity-list {
    font-family: 'Press Start 2P', cursive;
}

.swolify-sidebar-name {
    font-family: 'Press Start 2P', cursive;
    width: 95%;
}

.excercise-selection {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    width: 100%;
}

.excercise-btn {
    display: flex;
    border:none;
    background-color:transparent;
    outline:none;
    cursor: pointer;
    width: 25%;
 }

 .excercise-list {
     width: 90%;
     padding: 0;
 }

 .fa-angle-right,
 .fa-angles-right{
     font-size: 1.5em;
 }

 .fa-angles-right {
     display: none;
 }

 .fa-angle-right:hover + .fa-angles-right {
    transition: all 1s ease;
    display: block;
    margin-left: -2px;
  } 

.fa-angles-right:hover {
    display: block;
}  

/* SIDEBAR NEON SECTION */

.sidebar-visable,
.sidebar-hidden {
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #b914e9,
        0 0 0.8rem #b914e9,
        0 0 2.8rem #b914e9,
        inset 0 0 1.3rem #b914e9;
}

@keyframes pulsate {

    100% {

        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #b914e9,
            0 0 80px #b914e9,
            0 0 90px #b914e9,
            0 0 100px #b914e9,
            0 0 100px #b914e9;

    }

    0% {

        box-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #b914e9,
            0 0 45px #b914e9,
            0 0 55px #b914e9,
            0 0 70px #b914e9,
            0 0 80px #b914e9;

    }
}

@media screen and (prefers-reduced-motion) {
    .sidebar-visable,
    .sidebar-hidden {
        animation: none;
    }
}



/* SIDEBAR HIDDEN */

.sidebar-hidden {
    position: absolute;
    height: 100vh;
    width: 5vw;
    background-color: #FFF;
    margin: 1.5em; 
    transition: all .3s ease-in-out;
}