.sidebar-visable {
    position: absolute;
    height: 100vh;
    width: 20vw;
    background-color: #FFF;
    margin: 2em;
    transition: all .3s ease-in-out;
}

.icon-section-sidebar {
    font-size: 1.8em;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: .5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.link {
    text-decoration: none;
    color: #000;
}

.activity-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    margin-top: 1em;
}

.swolify-sidebar-name,
.activity-list,
.excercise-list {
    font-family: 'Press Start 2P', cursive;
}

.excercise-list {
    text-align: left;
}

.swolify-sidebar-name {
    font-family: 'Press Start 2P', cursive;
}

.excercise-selection {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    padding-bottom: 1em;
    width: 100%;
}

.excercise-list {
    display: flex;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fa-angle-right,
.fa-angles-right {
    font-size: 1.5em;
    border: 1px solid blue;
    width: 100%;
    height: 100%;
}

.fa-angles-right {
    display: none;
}

.fa-angle-right:hover+.fa-angles-right {
    transition: all 1s ease;
    display: block;
    margin-left: -2px;
}

.fa-angles-right:hover {
    display: block;
}

/* SIDEBAR NEON SECTION */

.sidebar-visable,
.sidebar-hidden {
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #b914e9,
        0 0 0.8rem #b914e9,
        0 0 2.8rem #b914e9,
        inset 0 0 1.3rem #b914e9;
}

@keyframes pulsate {

    100% {

        box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #b914e9,
            0 0 80px #b914e9,
            0 0 90px #b914e9,
            0 0 100px #b914e9,

    }

    0% {

        box-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #b914e9,
            0 0 45px #b914e9,
            0 0 55px #b914e9,
            0 0 70px #b914e9,

    }
}

@media screen and (prefers-reduced-motion) {

    .sidebar-visable,
    .sidebar-hidden {
        animation: none;
    }
}



/* SIDEBAR HIDDEN */

.sidebar-hidden {
    position: absolute;
    height: 100vh;
    width: 5vw;
    background-color: #FFF;
    margin: 1.5em;
    transition: all .3s ease-in-out;
}

.activity-list-hidden {
    display: none;
}
