.user-icon {
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 15rem;
    height: 15rem;
}

.user-icon-background:hover {
  cursor: pointer;
}
 
.icons-section {
  animation-duration: 1.5s;
  animation-name: profileslide;
}

@keyframes profileslide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

      
.user-icon:hover {
    background-color: #3e8e41
}
      
.user-icon:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

